{% extends 'packrat/base.html' %}

{% block content %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="mainContent">
    <!-- Title and logo stuff -->
    <h2 class="w3-wide">PACK RAT</h2>
    <i class="w3-xlarge fas fa-hiking pr-logo-green"></i>
    <p class="w3-opacity">Expedition loadout planner</p>
    
    <br>

    <div class="pr-list">
        <div title="Create a new loadout" class="pr-new-loadout">
            <p>New loadout</p>
            <p><i class="w3-xlarge fas fa-plus-circle pr-logo-green"></i></p>
        </div>

    
        <div class="pr-loadout panel panel-default" onmousedown="toggleLoadoutDetails(event, 'testLoadout01');">
            <div title="Loadout details" class="pr-loadout-heading panel-heading">
                <span><i class="fas fa-briefcase pr-logo-green w3-medium" style="width:28px;"></i> Old loadout #1</span> <i class="fas fa-caret-down pr-logo-green w3-large" style="float:right;"></i>
            </div>
            <div class="pr-loadout-body panel-body" id="testLoadout01">

                <div class="pr-loadout-details left">
                    <table class="pr-loadout-table">
                        <tr>
                            <td class="pr-loadout-details-column left">Updated</td>
                            <td class="pr-loadout-details-column right">15.04.2019 20:46</td>
                        </tr>
                        <tr>
                            <td class="pr-loadout-details-column left">Full weight</td>
                            <td class="pr-loadout-details-column right">22.4 kg</td>
                        </tr>
                        <tr>
                            <td class="pr-loadout-details-column left">Base weight</td>
                            <td class="pr-loadout-details-column right">19.7 kg</td>
                        </tr>
                        <tr>
                            <td class="pr-loadout-details-column left">Cost</td>
                            <td class="pr-loadout-details-column right">8.90 €</td>
                        </tr>
                    </table>
                </div>

                <div class="pr-loadout-details right">
                    A balanced 48 h pack including provisions for sleeping in a comfy tent and on-site water acquisition. 5 kg of photo gear and some sausages also accounted for. This description is 200 characters long.
                </div>

                <div class="w3-row pr-loadout-buttonbar">
                    <div class="pr-loadout-button" title="View loadout"><i class="fas fa-th-list pr-logo-green w3-medium"></i></div>
                    <div class="pr-loadout-button" title="Copy loadout"><i class="fas fa-clone pr-logo-blue w3-medium"></i></div>
                    <div class="pr-loadout-button" title="Delete loadout"><i class="fas fa-times-circle pr-logo-red w3-medium"></i></div>
                </div>

            </div>
        </div>


        <div class="pr-loadout w3-card panel panel-default" onmousedown="toggleLoadoutDetails(event, 'testLoadout02');">
            <div class="pr-loadout-heading panel-heading">
                <span><i class="fas fa-briefcase pr-logo-green w3-medium" style="width:28px;"></i> Old loadout #2</span> <i class="fas fa-caret-down pr-logo-green w3-large" style="float:right;"></i>
            </div>
            <div class="pr-loadout-body panel-body" id="testLoadout02">
                <p>A balanced 48 h pack including provisions for sleeping in a comfy tent and on-site water acquisition. 5 kg of photo gear and some sausages also accounted for. This description is 200 characters long.</p>
            </div>
        </div>
    </div>
        
</div>
{% endblock %}
