{% extends 'packrat/base.html' %}

{% block content %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="mainContent">
    <!-- Title and logo stuff -->
    <h2 class="w3-wide">PACK RAT</h2>
    <i class="w3-xlarge fas fa-hiking pr-logo-green"></i>
    <p class="w3-opacity">Expedition loadout planner</p>
    
    <br>

    <div class="pr-listbackground">

        <div class="button collapsible pr-loadout-header w3-medium">
            <div>
                <span class="pr-loadout-title"><i class="fa fa-briefcase pr-logo-green"></i> Sample loadout</span><span class="pr-loadout-timestamp"> 01.05.2019 at 09:44</span>
            </div>
        </div>
        <div class="content pr-loadout-details">
            <div class="inner-content w3-medium">
                <p class="pr-loadout-description">A balanced 24 h loadout with provisions for on-site water acquisition and some serious sausage grilling. The base weight also includes a load of more or less necessary camera gear and other cool stuff. This description is 250 characters long.</p>
                <div>
                    <span class="pr-loadout-key">Full weight: </span><span class="pr-loadout-data"> 22.3 kg</span>
                </div>
                <div>
                    <span class="pr-loadout-key">Base weight: </span><span class="pr-loadout-data"> 19.7 kg</span>
                </div>
                <div>
                    <span class="pr-loadout-key">Cost: </span><span class="pr-loadout-data"> 8.95 €</span>
                </div>
            </div>
        </div>


        <div class="button collapsible pr-loadout-header w3-medium">
            <div>
                <span class="pr-loadout-title"><i class="fa fa-briefcase pr-logo-green"></i> Berserker loadout</span><span class="pr-loadout-timestamp"> 02.05.2019 at 11:03</span>
            </div>
        </div>
        <div class="content pr-loadout-details">
            <div class="inner-content w3-medium">
                <p class="pr-loadout-description">A rudimentary but highly awesome carrying setup fashioned out of the pelt of a giant cave bear. Lots of strong mead and axes included.</p>
                <div>
                    <span class="pr-loadout-key">Full weight: </span><span class="pr-loadout-data"> 59.2 kg</span>
                </div>
                <div>
                    <span class="pr-loadout-key">Base weight: </span><span class="pr-loadout-data"> 37.3 kg</span>
                </div>
                <div>
                    <span class="pr-loadout-key">Cost: </span><span class="pr-loadout-data"> 3.29 €</span>
                </div>
            </div>
        </div>

    </div>
        
</div>
{% endblock %}
