{% extends 'packrat/base.html' %}

{% block content %}
<!-- View-specific title -->
<p class="w3-large"><i class="fas fa-boxes pr-logo-green"></i> PACKABLES</p>
<hr>

<!-- The main GUI related to packables -->
<div class="pr-list-background">

    <!-- Packables search tools -->
    <div class="row pr-loadout-filtertools w3-medium">
        <form action="/packrat/filter-packables/" method="get" autocomplete="on">
            <span class="column left">
                <input autofocus class="pr-loadout-searchbox" id="filterSearchString" type="text" name="filter_searchstring" placeholder="Search packables by name, description or vendor...">
            </span>
            <span class="column middle">
                <label> Sort by: </label>
                <select id = "filterSortingOption" class="pr-loadout-searchmenu" name="filter_sorting_option">
                    <option value="sort_by_name">Packable name (A-Z)</option>
                    <option value="sort_by_name_desc">Packable name (Z-A)</option>
                    <option value="sort_by_date">Date (new-old)</option>
                    <option value="sort_by_date_desc">Date (old-new)</option>
                    <option value="sort_by_vendor">Vendor (A-Z)</option>
                    <option value="sort_by_vendor_desc">Vendor (Z-A)</option>
                </select>
            </span>
            <span class="column right">
                <input class="pr-loadout-searchbutton" type="submit" name="filter_submit" value="Refresh">
            </span>
        </form>
    </div>

    <!-- Button for creating a new packable -->
    <div class="pr-loadout-new w3-medium" onclick="openModal('creatorModal')">
        <div>
            <span class="pr-loadout-new-title"><i class="fas fa-box pr-logo-lightgreen"></i> Create new packable</span>
        </div>
        <p class="pr-loadout-caret"><i class="far fa-plus-square"></i></p>
    </div>

    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="pr-tablehead">
                <th style="width: 48px"><i class="fas fa-box"></i></th>
                <th>Item name</th>
                <th>Modified</th>
                <th>Mass (g)</th>
                <th>Cost (€)</th>
                <th>Vendor</th>
                <th>Consumable</th>
            </tr>
        </thead>

        {% if listPackables %}
        {% for packable in listPackables %}
        <tr id="dataRow{{ packable.id }}">
            <td class="pr-packable-ellipsis" title="Edit packable: {{ packable.name }}" onclick="openEditPackableModal('{{ packable.id }}');"><i class="fas fa-ellipsis-h"></i></td>
            <td id="nameField{{ packable.id }}">{{ packable.name }}</td>
            <td id="dateField{{ packable.id }}">{{ packable.date }}</td>
            <td id="massField{{ packable.id }}">{{ packable.mass }}</td>
            <td id="costField{{ packable.id }}">{{ packable.cost }}</td>
            <td id="vendorField{{ packable.id }}">{{ packable.vendor }}</td>
            <td id="consumableField{{ packable.id }}" style="text-align: center">
                {% if packable.is_consumable %}
                    <i class="far fa-check-square pr-logo-red"></i>
                {% else %}
                    <i class="far fa-square pr-logo-green"></i>
                {% endif %}
            </td>
            <p hidden id="descriptionField{{ packable.id }}">{{ packable.description }}</p>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        {% endif %}

    </table>
    <br>
    <p>The search found {{ numPackablesFound }} packables in the database.</p>

</div>

<!-- "New Packable" modal -->
<div id="creatorModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-bottom w3-card-4" style="width: 580px">
        <header class="w3-container pr-greenbox"> 
        <span onclick="closeModal('creatorModal');" class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
        <h4><i class="fas fa-box"></i> New Packable</h4>
        </header>

        <!-- Data inputs -->
        <div class="w3-container pr-modalbody">
            <form name="new_packable_form" action="{% url 'new-packable' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label>Packable name</label><br>
                    <input class="pr-modalentry" name="new_packable_name" type="text" maxlength="256" value="" placeholder="What would you call this?" required autofocus>
                </p>
                <p>
                    <label>Description</label><br>
                    <textarea class="pr-modalentry" name="new_packable_description" maxlength="512" rows="3" placeholder="Please describe any relevant details. What's the intended use of the packable? What size is it? How many pieces does it contain? How long will it last?"></textarea>
                </p>
                <p>
                    <label>Mass (grams)</label><br>
                    <input class="pr-modalentry" name="new_packable_mass" type="text" maxlength="32" value="" placeholder="Please enter a number!" required>
                </p>
                <p>
                    <label>Cost (€)</label><br>
                    <input class="pr-modalentry" name="new_packable_cost" type="text" maxlength="32" value="0.00" placeholder="Please enter a number!" required>
                </p>
                <p>
                    <label>Vendor (source of acquisition)</label><br>
                    <input class="pr-modalentry" name="new_packable_vendor" type="text" maxlength="256" placeholder="Where can you get this?">
                </p>
                <p>
                    <label for="newPackableConsumable">Consumable (not included in base weight)?</label><br>
                    <input id="newPackableConsumable" type="checkbox" name="new_packable_consumable" value="true">
                </p>
                <p class="pr-modalbuttons">
                    <span title="Cancel without creating anything" onclick="closeModal('creatorModal');" class="pr-loadout-button"><i class="w3-large fas fa-times-circle pr-logo-red"></i> Cancel</span>
                    <span title="Create this packable" onclick="validateNewPackableForm();" class="pr-loadout-button"><i class="w3-large fas fa-check-circle pr-logo-green"></i> Create</span>
                </p>
            </form>
        </div>

        <footer class="w3-container pr-greenbox">
        <p> </p>
        </footer>
    </div>
</div>




<!-- "Edit Packable" modal -->
<div id="editorModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-bottom w3-card-4" style="width: 580px">
        <header class="w3-container pr-greenbox"> 
        <span onclick="closeModal('editorModal');" class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
        <h4><i class="fas fa-box"></i> Edit Packable</h4>
        </header>

        <!-- Data inputs -->
        <div class="w3-container pr-modalbody">
            <form name="edit_packable_form" action="{% url 'edit-packable' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label>Packable name</label><br>
                    <input class="pr-modalentry" name="edit_packable_name" type="text" maxlength="256" value="" placeholder="What would you call this?" required autofocus>
                </p>
                <p>
                    <label>Description</label><br>
                    <textarea class="pr-modalentry" name="edit_packable_description" maxlength="512" rows="3" placeholder="Please describe any relevant details. What's the intended use of the packable? What size is it? How many pieces does it contain? How long will it last?"></textarea>
                </p>
                <p>
                    <label>Mass (grams)</label><br>
                    <input class="pr-modalentry" name="edit_packable_mass" type="text" maxlength="32" value="" placeholder="Please enter a number!" required>
                </p>
                <p>
                    <label>Cost (€)</label><br>
                    <input class="pr-modalentry" name="edit_packable_cost" type="text" maxlength="32" value="0.00" placeholder="Please enter a number!" required>
                </p>
                <p>
                    <label>Vendor (source of acquisition)</label><br>
                    <input class="pr-modalentry" name="edit_packable_vendor" type="text" maxlength="256" placeholder="Where can you get this?">
                </p>
                <p>
                    <label for="editPackableConsumable">Consumable (not included in base weight)?</label><br>
                    <input id="editPackableConsumable" type="checkbox" name="edit_packable_consumable" value="true">
                </p>
                <p hidden>
                    <input id="editPackableId" name="edit_packable_id" type="text" maxlength="256">
                </p>
                <p class="pr-modalbuttons">
                    <span title="Update this packable" onclick="validateEditPackableForm();" class="pr-loadout-button"><i class="w3-large fas fa-check-circle pr-logo-green"></i> Save</span>
                    <span title="Delete this packable" onclick="deletePackable();" class="pr-loadout-button"><i class="w3-large fas fa-times-circle pr-logo-red"></i> Delete</span>
                    <span title="Cancel without modifying anything" onclick="closeModal('editorModal');" class="pr-loadout-button"><i class="w3-large fas fa-undo-alt pr-logo-blue"></i> Cancel</span>
                </p>
            </form>
        </div>

        <footer class="w3-container pr-greenbox">
        <p> </p>
        </footer>
    </div>
</div>




<!-- Message modal -->
<div id="messageModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-bottom w3-card-4" style="width: 580px">
        <header class="w3-container pr-greenbox"> 
        <span onclick="closeModal('messageModal');" class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
        <h4><i class="fas fa-box"></i> Packables</h4>
        </header>

        <!-- Message body -->
        <div class="w3-container pr-modalbody">
            <p class="w3-medium">
                {{ modalMessage }}
            </p>
            <p class="pr-modalbuttons">
                <span title="Acknowledge message" onclick="closeModal('messageModal');" class="pr-loadout-button"><i class="w3-large fas fa-check-circle pr-logo-green"></i> OK</span>
            </p>    
        </div>

        <footer class="w3-container pr-greenbox">
        <p> </p>
        </footer>
    </div>
</div>


<!-- Hidden container for the "delete packable" form -->
<div hidden>
    <form name="delete_packable_form" action="{% url 'delete-packable' %}" method="POST">
        {% csrf_token %}
        <input id="deletePackableId" name="delete_packable_id" type="text" maxlength="256">
    </form>
</div>
{% endblock %}


{% block additional_javascript %}
    {% if modalMessage %}
        <script>
            openModal('messageModal');
        </script>
    {% endif %}
    {% if filterInputReturned %}
        <script>
            console.log("filterSearchString:", String.raw`{{ filterSearchString }}`);
            console.log("filterSortingOption:", String.raw`{{ filterSortingOptionIndex }}`);

            document.getElementById("filterSearchString").value = String.raw`{{ filterSearchString }}`;
            document.getElementById("filterSortingOption").selectedIndex = String.raw`{{ filterSortingOptionIndex }}`;
        </script>
    {% endif %}
{% endblock %}